fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-multipart
python-dotenv
pydantic-settings
bcrypt
python-jose[cryptography]
opencv-python
face-recognition
numpy
scipy
pytest
httpx
scikit-learn
matplotlib
python-docx
